<h2>My Needs</h2>

<div>
  <label for="new-need">Need name: </label>
  <input id="new-need" #needName />

  <!-- (click) passes input value to add() and then clears the input -->
  <button type="button" class="add-button" (click)="add(needName.value); needName.value=''">
    Add need
  </button>
</div>

<ul class="needs">
  <li *ngFor="let need of needs">
    <a routerLink="/detail/{{need.id}}">
      <span class="badge">{{need.id}}</span> {{need.name}}
    </a>
    <button type="button" class="delete" title="delete need"
      (click)="delete(need)">x</button>
  </li>
</ul>