<nav>
  <a id="nav-links" routerLink="/">Logout</a>
</nav>

<h2>Shopping Cart</h2>

<ul *ngIf="EmptyBasket">
  <label>Shopping cart is empty</label>
</ul>

<div>
  <ul class="user">
    <li *ngFor="let need of fundingbasket">
      <!-- <a routerLink="/userdetail/{{fundingbasket.id}}"> -->
      <label for="need-name">name: </label>
      <span class="badge"></span> {{ need.name }}

      <div>
        <label for="need-quantity">quantity: </label>
        <span class="badge"></span> {{ need.quantity }}
        <!-- <label for="basket-quantity">fundingbasket quantity: </label>
        <input id="basket-quantity" [(ngModel)]="fundingbasket.quantity" placeholder="Basket Quantity"/> -->

        <!-- </a> -->
        <button
          type="button"
          class="add"
          title="add need"
          (click)="add(need)"
        >
          +
        </button>
        <button
          type="button"
          class="delete"
          title="remove need"
          (click)="delete(need)"
        >
          -
        </button>
        <button
          type="button"
          id="removeAll"
          class="removeAll"
          title="removeAll"
          (click)="removeAll(need)"
        >
          🗑
        </button>
      </div>
      <br />
    </li>
  </ul>
  <!-- to see update, you need to go back and reenter shopping cart -->
  <p>The current user's total is: {{ sum }}</p>

  <button type="button" (click)="goBack()">Go back</button>
  <button type="button" (click)="checkout()">Checkout</button>
</div>
