<h2>Shopping Cart</h2>
<div>
<ul class="user">
  <li *ngFor="let fundingbasket of fundingbasket">
    <!-- <a routerLink="/userdetail/{{fundingbasket.id}}"> -->
      <span class="badge"></span> {{fundingbasket.name}}

      <div>
        <label for="basket-quantity">fundingbasket quantity: </label>
        <input id="basket-quantity" [(ngModel)]="fundingbasket.quantity" placeholder="Basket Quantity"/>
      

    <!-- </a> -->
    <button type="button" class="delete" title="remove need"
      (click)="delete(fundingbasket)">x</button>
    </div>
  </li>
</ul>
<button type="button" (click)="goBack()">go back</button>
<button type="button" (click)="save()">save</button>
</div>