/* DashboardComponent's private CSS styles */
* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  font-size: 2.3rem;
  text-align: center;
  color: #555;
}

label {
  font-size: 1.2rem;
  color: #555;
  margin-left: -40px;
}
p {
  font-size: 1.2rem;
  color: #555;
}

.needs-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

nav {
  margin-top: -10px;
  padding-right: 20px;
  background: rgb(71, 71, 71);
  height: 50px;
  width: 100%;
  margin-left: -10px;
  line-height: 50px;
  word-spacing: 20px;
}

#nav-links {
  padding-left: 20px;
  font-size: 1.1rem;
  text-decoration: none;
  color: #dedede;
}

#nav-links:hover {
  color: white;
}

button {
  display: inline-block;
  margin-top: 10px;
  text-align: center;
  background-color: #555;
  color: #fff;
  text-decoration: none;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 1rem;
  border: 1px solid black;
  margin-right: 10px;
}

#removeAll {
  transform: scaleY(0.8);
}

button:hover {
  background-color: #ffffff;
  color: #555;
  border: 1px solid black;
}

button:active {
  scale: 105%;
}
