<div *ngIf="need" id="container">
  <h2>{{ need.name | uppercase }} Details</h2>
  <div id="details" name="details">
    <div id="detail"><span>ID : </span>{{ need.id }}</div>
    <div id="detail"><span>Cost : </span>{{ need.cost }}</div>
    <!-- <div id="detail"><span>Quantity : </span>{{ need.quantity }}</div> -->
    <!-- <span>Quantity : </span>{{ need?.quantity }} -->
    <div id="detail"><span>Quantity : </span>{{ need.quantity }}</div>

    <div id="detail"><span>Type : </span>{{ need.type }}</div>
    <div id="detail"><span>Name : </span>{{ need.name }}</div>
  </div>

  <div id="buttons">
    <button type="button" (click)="goBack()">Go back</button>
    <button type="button" (click)="add(need)">Add to Cart</button>
  </div>

  <p id="text-container">Out of stock!</p>

  <p>This page is updated after checkout from funding basket !</p>
</div>
