<div *ngIf="need">
  <h2>{{need.name | uppercase}} Details</h2>
  <!-- <div><span>id: </span>{{need.id}}</div> -->
  <!-- <div><span>cost: </span>{{need.cost}}</div> -->
  <!-- <div><span>quantity: </span>{{need.quantity}}</div> -->
  <!-- <div><span>type: </span>{{need.type}}</div> -->
  <div>
    <label for="need-name">Name: </label>
    <input id="need-name" [(ngModel)]="need.name" placeholder="Need name"/>
    <label for="need-cost">Cost: </label>
    <input id="need-cost" [(ngModel)]="need.cost" placeholder="Need cost"/>
    <label for="need-quantity">Quantity: </label>
    <input id="need-quantity" [(ngModel)]="need.quantity" placeholder="Need quantity"/>
    <label for="need-type">Type: </label>
    <input id="need-type" [(ngModel)]="need.type" placeholder="Need type"/>
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>