<div *ngIf="need">
  <h2>{{need.name | uppercase}} Details</h2>
  <div><span>id: </span>{{need.id}}</div>
  <div><span>cost: </span>{{need.cost}}</div>
  <div><span>quantity: </span>{{need.quantity}}</div>
  <div><span>type: </span>{{need.type}}</div>
  <div>
    <label for="need-cost">Need cost: </label>
    <input id="need-cost" [(ngModel)]="need.cost" placeholder="Need cost"/>
  </div>
  <div>
    <label for="need-quantity">Need quantity: </label>
    <input id="need-quantity" [(ngModel)]="need.quantity" placeholder="Need quantity"/>
  </div>
  <div>
    <label for="need-type">Need type: </label>
    <input id="need-type" [(ngModel)]="need.type" placeholder="Need type"/>
  </div>
  <button type="button" (click)="goBack()">go back</button>
  <button type="button" (click)="save()">save</button>
</div>