/* DashboardComponent's private CSS styles */

* {
  font-size: 35px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

h2 {
  text-align: center;
}

.needs-menu {
  padding: 0;
  margin: auto;
  max-width: 1000px;

  /* flexbox */
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  align-items: flex-start;
}

nav {
  margin-top: -10px;
  padding-right: 20px;
  background: rgb(71, 71, 71);
  height: 50px;
  width: 100%;
  margin-left: -10px;
  line-height: 38px;
  word-spacing: 20px;
}

a {
  padding-left: 20px;
  font-size: 1.1rem;
  text-decoration: none;
  color: #fff;
}
