<nav>
  <a id="nav-links" routerLink="/">Logout </a>
  <a id="nav-links" routerLink="/funding-basket">Shopping-Cart</a>
</nav>

<h2>Product Dashboard</h2>
<!-- top needs -->

<ul *ngIf="EmptyCupboard">
  <label>Empty Cupboard</label>
</ul>

<div class="needs-menu" *ngIf="!EmptyCupboard">
  <a
    id="need-details"
    *ngFor="let need of needs"
    routerLink="/userdetail/{{ need.id }}"
  >
    {{ need.name }}
  </a>
</div>

<button (click)="toggleA()">Alphabetical</button>
<button (click)="toggleQuantL()">Quant Low</button>
<button (click)="toggleQuantH()">Quant High</button>
<button (click)="toggleCostL()">Cost Low</button>
<button (click)="toggleCostH()">Cost High</button>

<div id="sort-list">
  <ul *ngIf="showA">
    <label>Alphabetical</label>
    <li *ngFor="let item of sortedList | async">{{ item.name }}</li>
  </ul>

  <ul *ngIf="showQuantL">
    <label>Quantity Low to High</label>
    <li *ngFor="let item of sortedQuantL | async">{{ item.name }}</li>
  </ul>

  <ul *ngIf="showQuantH">
    <label>Quantity High to Low</label>
    <li *ngFor="let item of sortedQuantH | async">{{ item.name }}</li>
  </ul>

  <ul *ngIf="showCostL">
    <label>Cost Low to High</label>
    <li *ngFor="let item of sortedCostL | async">{{ item.name }}</li>
  </ul>

  <ul *ngIf="showCostH">
    <label>Cost High to Low</label>
    <li *ngFor="let item of sortedCostH | async">{{ item.name }}</li>
  </ul>
</div>
<app-need-search></app-need-search>
